<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('include/head') %>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/pagination.css">
  <title>메인페이지</title>
</head>

<body>
  <%- include('include/header') %>
  <!-- 바디 -->
  <main>
    <!-- 본문 -->
    <section class="article_list">
      <h1 class="article_list_title"> 최근에 등록된 상품 </h1>
      <div class="card_container">
        <!-- 9번 상품 -->
        <% products.map((product)=> { %>
        <div class="card_wrap">
          <article class="card">
            <a class="card_link">
              <div class="card_photo">
                <img src="<%= product.image_url %>" alt="<%= product.title %> 이미지">
              </div>
              <div class="card_desc">
                <a class="card_title" href="auction/item/<%= product.product_id %>">
                  <%= product.title %>
                </a>
                <div class="card_row2">
                  <span class="card_current_price">
                    <%= product.current_price %>원
                  </span>
                </div>
                <div class="card_row3">
                  <span class="card_count">
                    관심 <%= product.like_count %>
                  </span>
                  <span class="card_bar">
                    |
                  </span>
                  <span class="card_created_at">
                    <%= product.created_at %>
                  </span>
                </div>
                <div class="card_row3">
                  <span class="card_termination_date">
                    마감 <%= product.termination_date %>
                  </span>
                </div>
            </a>
          </article>
        </div>
        <% }) %>
      </div>
    </section>
  </main>
  <%- include('include/pagination') %>
  <%- include('include/footer') %>
  <script src="/js/index.js"></script>
</body>

</html>