<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('include/head') %>
  <title>마이페이지</title>
</head>

<body>
  <%- include('include/header') %>
  <h1>Welcome to Your My Page</h1>

  <div>
    <p>User ID: <%= user.userid %></p>
    <p>Name: <%= user.username %></p>
    <p>Nickname: <%= user.nickname %></p>
    <p>Email: <%= user.email %></p>
    <p>Telephone: <%= user.telephone %></p>
  </div>
  <div>
    <a href="/user/orderList">예매내역</a>
  </div>
</body>

</html>