<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('include/head') %>
  <title>마이페이지</title>
</head>

<body>
  <%- include('include/header') %>
  <link rel="stylesheet" href="/css/my_page.css">

  <main>
    <div class="my_page_body">
      <div class="userinfo">
        <h1 class="my_page_title">마이페이지</h1>
        <div class="user-details">
          <div class="avatar_wrapper">
            <img class="avatar" src="http://localhost:8081/avatar/avatar.png" alt="아바타 이미지">
          </div>
        </div>
        <p>이름: <%= user.username %></p>
        <p>아이디: <%= user.user_id %></p>
        <p>이메일: <%= user.email %></p>
        <p>전화번호: <%= user.telephone %></p>
      </div>

      <div class="menu">
        <a>입찰내역</a>
        <a>낙찰내역</a>
        <a>판매내역</a>
        <a>관심내역</a>
      </div>
    </div>
  </main>
</body>

</html>