<div class="user_info_container">
  <div class="user_info_wrapper">
    <div class="user_info">
      <h2 id="user_info_nickname">
        <%= user.nickname %>
        <span id="user_info_id">
          <%= user.user_id %>
        </span>
      </h2>
      <ul class="user_info_details">
        <li>
          <%= user.email %>
        </li>
        <li>
          <%= user.telephone %>
        </li>
        <li>
          <%= user.username %>
        </li>
      </ul>
      <div class="user_info_avatar">
        <img class="avatar" src="http://localhost:8081/avatar/avatar.png" alt="아바타 이미지">
      </div>
    </div>
    <div class="user_record">
      <div class="user_menu_list_wapper">
        <ul class="user_menu_list">
          <li class="user_menu_tap sell"><a href="http://localhost:8081/user/sell">판매 내역</a></li>
          <li class="user_menu_tap bid"><a href="http://localhost:8081/user/bid">입찰 내역</a></li>
          <li class="user_menu_tap successful_bid"><a href="http://localhost:8081/user/successfulbid">낙찰 내역</a></li>
          <li class="user_menu_tap wishlist"><a href="http://localhost:8081/user/wishlist">관심 상품</a></li>
          <li class="user_menu_tap update"><a href="http://localhost:8081/user/update">회원 정보 수정</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>