<div class="pagination_container">
  <a href="<%= metaData.url %><%=metaData.group.prevGroupPage %>" <% if (metaData.group.prevGroupPage === null) { %> class="prev_page disabled" onclick="return false;" <% } else { %> class="prev_page" <% } %>>
    이전
  </a>
  <% for (let page = metaData.page.startPage; page <= metaData.page.endPage; page++) { %>
  <a href="<%= metaData.url %><%= page %>" <% if (metaData.page.currentPage === page) { %> class="current_page" <% } %>>
    <%= page %>
  </a>
  <% } %>
  <a href="<%= metaData.url %><%=metaData.group.nextGroupPage %>" <% if (metaData.group.nextGroupPage === null) { %> class="next_page disabled" onclick="return false;" <% } else { %> class="prev_page" <% } %>>
    다음
  </a>
</div>